<%- include("header") -%>

  <body>
    <nav class="navbar navbar-expand-lg background-navbar-dark bg-dark" font-family="Open-sans" data-bs-theme="dark">
      <div class="container-fluid p-2">
        <a class="navbar-brand">LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-3 my-2">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" style="cursor: pointer;"
                onclick="redirectToUsers()">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid text-center justify-content-center"
      style="padding: 16%; background-color: rgb(247, 133, 4); opacity: 85%">
      <div class="row">
        <div class="col text-bg-dark p-5" style="opacity: 85%;">

          <h1>Create New User</h1>
          <form action="/users/new" method="POST"> <!-- Change the action attribute here -->
            <label for="username">Username:</label>
            <input type="text" name="username" required>
            <br>
            <label for="email">Email:</label>
            <input type="email" name="email" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" required>
            <br>
            <label for="fullname">Fullname:</label>
            <input type="text" name="fullname">
            <br>
            <label for="religion">Religion:</label>
            <input type="text" name="religion">
            <br>
            <label for="address">Address:</label>
            <input type="text" name="address">
            <br>
            <input type="submit" value="Create User">
          </form>
        </div>
      </div>
    </div>

    <script>
      function redirectToUsers() {
        window.location.href = '/users';
      }
    </script>

  </body>

  </html>