<%- include("header") -%>
  <body>
    <nav class="navbar navbar-expand-lg background-navbar-dark bg-dark fixed-top" font-family="Open-sans"
      data-bs-theme="dark">
      <div class="container-fluid p-2">
        <a class="navbar-brand" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-3 my-2">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" onclick="redirectDashboard()">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid banner-2">
      <div class="container text-center justify-content-center">
        <div class="row">
          <div class="col text-bg-dark p-3" style="opacity: 85%;">
            <h1 style="font-family: 'Open-Sans';">User List</h1>
            <ul>
              <% users.forEach(user=> { %>
                <li>
                  <a class="px-5" style="font-size: larger; color: white; font-family: 'Open-sans';" href="/users/<%= user.id %>">
                    <%= user.username %>
                  </a>
                  <form action="/users/<%= user.id %>/edit" method="POST" style="display: inline;">
                    <input type="hidden" name="_method" value="PUT">
                    <button class="btn btn-light" type="submit">Edit</button>
                  </form>
                  <form action="/users/<%= user.id %>/delete" method="GET" style="display: inline;">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger" type="submit">Delete</button>
                  </form>
                </li>
                <% }); %>
            </ul>
            <button class="btn btn-warning" onclick="redirectToNewUser()">Add New User</button>
            <button class="btn btn-warning" onclick="redirectToRooms()">Rooms</button>
          </div>
        </div>
      </div>
    </div>

    <script>

      function redirectToNewUser() {
        window.location.href = '/users/new';
      }
      function redirectToRooms() {
        window.location.href = '/rooms';
      }
      function redirectToDashboard() {
        window.location.href = '/users';
      }
  
  
    </script>
    
  </body>

  </html>