<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Results</title>
</head>
<body>
    <h1>Game Results</h1>
    
    <p>Player 1's choice: <%= player1Choice %></p>
    <p>Player 2's choice: <%= player2Choice %></p>
    <p>Winner: <%= winner === 'draw' ? 'Draw' : (winner === 'player1' ? 'Player 1' : 'Player 2') %></p>
    
    <p><a href="/rooms">Back to Rooms</a></p>
</body>
</html>
