<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissors Game</title>
</head>
<body>
    <h1>Rock Paper Scissors Game</h1>
    
    <form action="/games/<%= room.id %>/choice" method="POST">
        <label>
            <input type="radio" name="choice" value="rock"> Rock
        </label>
        <label>
            <input type="radio" name="choice" value="paper"> Paper
        </label>
        <label>
            <input type="radio" name="choice" value="scissors"> Scissors <!-- Corrected value here -->
        </label>
        <button type="submit">Submit Choice</button>
    </form>
</body>
</html>
