<%- include("header") -%>
<body>
  <nav class="navbar navbar-expand-lg background-navbar-dark bg-dark fixed-top" font-family="Open-sans"
  data-bs-theme="dark">
  <!-- ... (your existing navbar code) ... -->
  </nav>

  <div class="container-fluid banner-2">
    <div class="container text-center justify-content-center">
      <div class="col">
        <form action="/login" method="POST">
          <input type="text" name="username" placeholder="Username" />
          <input type="password" name="password" placeholder="Password" />
          <button type="submit">Login</button>
        </form>
        <a href="/register" class="btn btn-primary mt-2">Register</a>
      </div>
    </div>
  </div>

  <script>
    function redirectToLandingPage() {
      window.location.href = '/';
    }
  </script>
</body>
