<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registration</title>
</head>
<body>
  <h1>User Registration</h1>
  <form method="POST" action="/register">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>    
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <label for="isAdmin">Register as Admin:</label>
    <input type="checkbox" id="isAdmin" name="isAdmin">
    <br>
    <button type="submit">Register</button>
  </form>
</body>
</html>
