<%- include("header") -%>
<body>
  <h1>Room Dashboard</h1>

  <!-- Create Room Form -->
  <form action="/rooms/create" method="post">
    <button type="submit">Create Room</button>
  </form>

  <!-- List of Rooms -->
  <h2>Rooms</h2>
  <ul>
    <% rooms.forEach(room => { %>
      <li>
        Room ID: <%= room.id %>
        <!-- User Count Indicator -->
        <% if (room.player1_id && room.player2_id) { %>
          <span class="user-count">Full (2/2)</span>
          <!-- Room is full, disable Join Room button -->
          <button type="button" class="join-button" disabled>Join Room</button>
        <% } else if (room.player1_id || room.player2_id) { %>
          <span class="user-count">1/2</span>
          <!-- Room has one player, enable Join Room button -->
          <form action="/rooms/join/<%= room.id %>" method="post" style="display: inline;">
            <button type="submit" class="join-button">Join Room</button>
          </form>
        <% } else { %>
          <span class="user-count">Empty</span>
          <!-- Room is empty, enable Join Room button -->
          <form action="/rooms/join/<%= room.id %>" method="post" style="display: inline;">
            <button type="submit" class="join-button">Join Room</button>
          </form>
        <% } %>

        <!-- Delete Form -->
        <form action="/rooms/delete/<%= room.id %>" method="post" style="display: inline;">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% }); %>
  </ul>
</body>
</html>
